<h1 class="text-center">Editing Borrow Pay</h1>

<%= render 'form', borrow_pay: @borrow_pay %>
<div class="text-center">
<%= link_to 'Show', @borrow_pay, class: "btn btn-outline-secondary", style: "min-height:12px;min-width:150px;"  %> |
<%= link_to 'Back', borrow_pays_path, class: "btn btn-outline-secondary", style: "min-height:12px;min-width:150px;"  %>
</div>